.breadcrumps{
  margin-top: 25px;
  &:after{
    content: "";
    position: absolute;
    left: -160px;
    top: 173px;
    height: 117px;
    width: 917px;
    background: url(../img/some-breadcrumps.png) no-repeat;
    background-size: cover;
  }
  &__link-item{
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
    margin-right: 10px;
    position: relative;
    z-index: 10;
  }
  &__link-item a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: #69c;
    &:after{
      content: "/";
      cursor: default;
      position: absolute;
      right: -7px;
      top: 0px;
    }
  }
}
